body {
	padding: 15px 10px;
    background: url(/static/default-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui.menu {
    margin-bottom: 20px;
}

.ui.menu h1.ui.header {
	display: inline-block;
	margin: 0 10px;
}

.ui.menu h1.ui.header a {
    color: inherit;
}

.second.menu {
	margin-top: -20px;
	text-align: right;
}

.second .ui.menu {
	margin: 0 0 0 20px;
	display: inline-block;
}

.ui.menu .item ,
.second .ui.menu.volume .item.value {
	text-align: center;
	padding: 17px 13px 18px;
}

.second .ui.menu .item .icon {
	margin: 0;
}

.second .ui.menu.volume .item {
	padding: 12px 13px 14px;
}

.second .ui.menu.volume .item .icon {
	font-size: 1.8em;
}

.second .ui.menu.volume .item.value {
	width: 75px;
	text-align: center;
}

.ui.segment.site.black.inverted {
    background-color : rgba(0, 0, 0, .7) !important;
}

.site h2.ui.header.rockradio { background-color: #313131; }
.site h2.ui.header.jazzradio { background-color: #9C191F; }
.site h2.ui.header.radiotunes { background-color: #0E61A7; }
.site h2.ui.header.di { background-color: #313131; }

.site h2.ui.header img {
    width: auto;
}

.site .channels {
    text-align: center;
}

.site .channels a.channel {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

.site .channels a.channel img {
    width: 196px;
    margin: -9px -21px 10px;
    border-radius: inherit;
}

.ui.nag.fixed {
    top: 30%;
    border-radius: 0;
    font-size: 1.3rem;
}

.ui.nag .title {
    color: #333;
}

.ui.nag .title b {
    color: #000;
}

.ui.nag.blue { background-color: rgba(84, 200, 255, .85); }
.ui.nag.yellow { background-color: rgba(255, 226, 31, .85); }
.ui.nag.red { background-color: rgba(255, 105, 94, .85); }
.ui.nag.purple { background-color: rgba(205, 198, 255, .85); }
